<!DOCTYPE html>
<html>
<head>

	<title>{{title}}</title>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

	<link rel="icon" type="image/png" href="/images/favicon.ico">
	<link rel="stylesheet" href="/compiled/app.css" />

</head>
<body>


{{{body}}}



<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/foundation/js/foundation.js"></script>
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<script src="bower_components/jquery.cookie/jquery.cookie.js"></script>
<script src="bower_components/modernizr/modernizr.js"></script>
<script src="bower_components/jquery-placeholder/jquery.placeholder.js"></script>

<script src="/compiled/scripts-client.js"></script>

</body>
</html>
